<div class="masterContainer">
    <div class="menuContainer">     
        <div class="buttonPokemon">
            <div *ngFor="let type of pokemonTypes">   
                <app-pkm-buttontype  
                    [btnData] = "type"
                    (onClick) = "changeType($event)"
                ></app-pkm-buttontype>  
            </div>
            
        </div>        
    </div>
    <div class="contentContainer">        
        <div class="topContainer">
            <div class="rightContainer">
                <div class="userContainer">                    
                    <img src="../../assets/{{usersService.getUserGender() === 1 ? 'girl' : 'boy'}}.png">
                    <div class="nameMenu">
                        <a>{{usersService.getUserName()}}</a> 
                        <span class="material-icons iconMenu">keyboard_arrow_down</span>
                        <div class="userContent">
                            <a>Perfil</a>
                            <a>Pokémons</a>
                            <a>Sair</a>
                        </div>     
                    </div>                                         
                    <!-- <a>Pokémon: {{usersService.getUserPokemon()}}</a> -->
                    <!-- <img src="{{spriteUrl}}{{usersService.getUserPokemon()}}.png" alt=""> -->
                </div>
            </div>
        </div>
        <div class="downContainer" *ngIf="viewMode === 'cards'">    
            <div *ngFor="let pokemon of filterPokedexByType()">
                <app-pkm-card 
                    [pkmData]="pokemon"                
                ></app-pkm-card>  
            </div>                             
        </div>               
    </div>
</div>