.firstContainer {  
    width: 100vw;
    height: 100vh;         
    display: flex;
    justify-content: center;    
    flex-direction: row;        
    .logoContainer {        
        display: flex;
	    flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 197, 197);
        width: 50vw;          
        .logo {
            display: flex;
	        flex-direction: column;
            align-items: center;
            img {
                width: 25vw;
            }
            span {
                color: rgb(255, 217, 0);       
                text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;            
                font-size: 30px;
                font-family: 'Luckiest Guy', cursive;
            }
        }
        
    }
    .secondContainer {        
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
	    align-items: center;
        .boxLoginContainer {
            background-color: rgba(255, 255, 255, 0.39);
            width: 21vw;
            height: 55vh;
            font-family: Lato, Arial, sans-serif;
            font-size: 15px;
            border-radius: 5px; 
            box-shadow: 0 4px 17px rgba(0,0,0,0.2);             
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            .textLoginContainer {                
                text-transform: uppercase;
                font-size: 5vh;
                font-family:  Hack, monospace;                
                position: absolute;
                top: 5vh;   
                a {
                    color: white;
                }                         
            }
            .inputContainer {
                width: fit-content;
                height: 17vh;
                background-color: rgba(255, 255, 255, 0);
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                position: absolute;                
                top: 10vh;
                ::placeholder {
                    font-size: 1vw;
                    color: black;
                }
                input {
                    width: 75%;
                    height: 43px;                                        
                    padding: 0 10px;
                    background-color: rgba(255, 255, 255, 0);
                    outline: none !important;
                    border: 0px;
                    border-bottom: 1px solid rgb(0, 0, 0);
                    cursor: pointer;                      
                }
                .passwordContainer {
                    position: relative;
                    input {
                        padding: 0px 40px 0px 10px;
                        width: calc(75% - 30px);
                        margin-left: 20px;
                    }                    
                    span {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        height: fit-content;
                        right: 28px;
                        cursor: pointer;
                        font-size: 3.5vh;
                    }
                }                
            }        
            .buttonEnter {
                width: 4vw;
                height: 4vw;
                position: absolute;
                bottom: 92px; 
                .buttonPikachu{
                    position: absolute;
                    width: 3vw;
                    top: 0;
                    bottom: 8px;
                    left: 0;
                    right: 0;
                    margin: auto;                    
                }                       
                .pokeballTop {
                    width: 4vw;
                    height: 2vw;
                    background-color: red;
                    position: absolute;
                    border-top-left-radius: 10vw;
                    border-top-right-radius: 10vw;
                    transition: 0.6s;
                    border-bottom: 2px solid;
                    z-index: 1;                   
                    top: 0;
                    .pokeballMiddle{
                        width: 1vw;
                        height: 1vw;
                        position: absolute;
                        border-radius: 100%;
                        background-color: white;
                        bottom: -0.8vw;
                        left: 0;
                        right: 0;
                        margin: auto;
                        border: 1px solid;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .pokeballMiddleMiddle{
                            width: 0.5vw;
                            height: 0.5vw;
                            border-radius: 100%;
                            border: 0.5px solid;
                        }
                    }
                }
                .pokeballBottom {
                    width: 4vw;
                    height: 2vw;
                    background-color: white;
                    border-bottom-left-radius: 10vw;
                    border-bottom-right-radius: 10vw;
                    transition: 0.6s;
                    border-top: 2px solid;
                    position: absolute;
                    bottom: 0; 
                    box-shadow: 0 4px 17px rgba(0,0,0,0.2);                  
                }
                &:hover {
                    cursor: pointer;
                    transition: 0.6s;
                    .pokeballTop{
                        top: -2vw;
                        transition: 0.6s;
                    }
                    .pokeballBottom{                        
                        transition: 0.6s;
                        
                    }
                }
            }
            .messageContainer {
                position: absolute;
                bottom: 12vh;
                color: rgb(155, 49, 49);
                a {
                    font-size: 1vw;
                }                
            }
            .buttonRegister{
                width: fit-content;
                font-family: Lato, Arial, sans-serif;
                font-size: 1vw;          
                margin-top: 5%;
                display: flex;
                align-items: center;                
                text-decoration: none;                
                will-change: transform;   
                position: absolute;
                bottom: 5vh;        
                b {
                    &:hover{                 
                        cursor: pointer; 
                        color: white;                 
                    }                
                }           
                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);                
                }
            }
        }
    }                     
}
