<div id="modalContainer">
    <div class="topModalContainer">
        <div class="voidContainer"></div>
        <div class="controlContainer">
            <div class="buttonCreate" (click)='register()'>
                <img src="../../../assets/save.png">
                <a>Salvar</a>
            </div>
        </div>
        <div class="closeContainer">
            <div class="buttonClose" (click)="windowCloseCadastro()">
                <a>X</a>
            </div>            
        </div>        
    </div>   
    <div class="middleContainer">
        <div class="inputContainer">
            <a>Digite um usuário</a>
            <input type="text" placeholder="USUÁRIO" [ngModel]='getUser()' (ngModelChange)='setUser($event)'>
        </div>
        <div class="inputContainer">
            <a>Digite uma senha</a>
            <input type="text" placeholder="SENHA" [ngModel]='getPassword()' (ngModelChange)='setPassword($event)'>
        </div>
        <div class="inputContainer">
            <a>Digite um ID de Pokémon</a>
            <input type="text" placeholder="POKEMON" [ngModel]='getPokemon()' (ngModelChange)='setPokemon($event)'>
        </div>       
    </div>
</div>
