<div id="modalContainer">
    <div class="topModalContainer">
        <img src="../../../assets/pokemonCadastro.png">
        <div class="voidContainer"></div>
        <div class="controlContainer">            
        </div>
        <div class="closeContainer">
            <div class="buttonClose" (click)="windowCloseCadastro()">
                <span class="material-icons">close</span>
            </div>            
        </div>        
    </div>   
    <div class="middleContainer">
        <div class="inputContainer user">      
            <div class="genderContainer">
                <img class="girl" src="../../../assets/girl.png" (click)='selectGender($event,1)'>
                <img class="boy" src="../../../assets/boy.png" (click)='selectGender($event,2)'> 
            </div>           
            <input type="text" placeholder="USUÁRIO" [ngModel]='getUser()' (ngModelChange)='setUser($event)'> 
        </div>        
        <div class="inputContainer">            
            <input type="password" placeholder="SENHA" [ngModel]='getPassword()' (ngModelChange)='setPassword($event)'>
        </div>
        <div class="inputContainer">            
            <input type="password" placeholder="REPETIR SENHA" [ngModel]='getRepeatPassword()' (ngModelChange)='setRepeatPassword($event)'>
        </div>  
        <div class="messageContainer">
            <a>{{messageService.getMessage()}}</a>
        </div>
        <div class="buttonCreate" (click)='register()'>
            <img src="../../../assets/save1.png">
            <a>Salvar</a>
        </div>     
    </div>
    
</div>
